.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-primary
  .container
    .navbar-header
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      a.navbar-brand(href='/')
        img.logo-header(src="/images/logo.png", alt="Beatify Logo")
        | &nbsp; Beatify
    .collapse.navbar-collapse#navbarResponsive
      ul.navbar-nav
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/') Home
      ul.nav.navbar-nav.navbar-right
