nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom(class=page == "party" ? "dark-navbar" : "fixed-top")
      .container
        a.navbar-brand(href='/')
          img.logo-header(src="/images/logo.png", alt="Beatify Logo")
          | &nbsp; Beatify
        button.navbar-toggler(data-target='#navbarResponsive', data-toggle='collapse', type='button', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            if !user
              //- li.nav-item.dropdown
              //-   a#login.nav-link.dropdown-toggle(data-toggle="dropdown") Login
              //-   .dropdown-menu.navbar-custom.social-dropdown(aria-labelledby="login")
              //-     .social-buttons
              //-       a.btn.btn-md.rounded-pill.spotify-login-btn.smaller-spotify-btn(href="/auth/spotify")
              //-         i.fa.fa-spotify
              //-         | Login with Spotify
              a.btn.btn-md.rounded-pill.spotify-login-btn.smaller-spotify-btn(href="/auth/spotify")
                i.fa.fa-spotify
                | &nbsp;&nbsp;Login with Spotify
            else
              li.nav-item.dropdown
                a#logout.nav-link.dropdown-toggle(data-toggle="dropdown") Welcome, #{user.username}
                .dropdown-menu.navbar-custom(aria-labelledby="logout")
                  a.nav-link(href="/logout") Logout